@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
html, body {
        height: 100%; /* Make sure html and body cover the full height of the viewport */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        display: flex; /* Use flexbox to align children */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        flex-direction: column; /* Stack children vertically */
    }
    body {
        width: 100%; /* Full width */
    }
h1{
    font-weight: 600;
    font-style: normal;
}
p {
    font-size: 20em;
    /* font-weight: 1000; */
    font-style: normal;
}
a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    width: 20%;
    text-align: center;
    /* font-weight: bold; */
}
